#day{
    font-family: Georgia, serif; 
    font-size: 100%;
    display: grid;
    grid-template-rows: 20px [main-start] 600px auto [main-end] 20px 3em;
    grid-template-columns: 20px 1fr 20px [main-start] 2fr [main-end] 20px;
}

/* for set font size */
.sizeL{
    font-size: 200%;
    color: rgb(255, 255, 255);
}

.sizeL2{
    font-size: 200%;
    color: rgb(123, 0, 255);
}
/* for highlight font */
.cl{
    color: rgb(255, 39, 136);
}

.wh{
    color: white;
}

/*days of week*/
.sunday{
    background-color: rgb(255, 77, 106);
    padding: 25px 25px;
    width: 100%;
}

.monday{
    background-color: rgb(243, 255, 82);
    padding: 25px 25px;
    width: 100%;
}

.tuesday{
    background-color: rgb(255, 218, 224);
    padding: 25px 25px;
    width: 100%;
}

.wednesday{
    background-color: rgb(163, 248, 65);
    padding: 25px 25px;
    width: 100%;
}

.thursday{
    background-color: rgb(255, 150, 51);
    padding: 25px 25px;
    width: 100%;
}

.friday{
    background-color: rgb(104, 237, 255);
    padding: 25px 25px;
    width: 100%;
}

.saturday{
    background-color: rgb(221, 85, 255);
    padding: 25px 25px;
    width: 100%;
}

#day .leftside{
    grid-area: 2/2/3/3;
    margin: 0;
    padding: 0;
    color: gray;
}

#day ul{
    grid-area: main;
    margin: 0;
    padding: 20px;
    font-size: 200%;
    color: rgb(0, 0, 0);
}

/* set obj to center */
.cen{
    align-self: center;
    justify-self: center;
}

#layout {
    display: grid;
    grid-template-rows: 3em;
}

div ul li a{
    color: white;
}



